* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  margin: auto;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255, 255, 255);
  padding-top: 10rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  padding: 10px 0;
  margin-bottom: 1rem;
}

.top-header h3 {
  margin-bottom: 0;
}

.info {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 1rem;
}

.info button, .all-done button, #next-question{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:35px;
  font-size:1em;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}
.info button:hover , .all-done button:hover,
#next-question:hover{
  background:#fff;
  color:#1AAB8A;
}
.info button:before,.info button:after, 
.all-done button::before, .all-done button::after,
#next-question:before, #next-question::after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.info button:after , 
.all-done button::after,
#next-question::after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.info button:hover:before,.info button:hover:after , 
.all-done button:hover:before, .all-done button:hover:after,
#next-question:hover:before, #next-question:hover:after{
  width:100%;
  transition:800ms ease all;
}

.quiz-app {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 1rem;
  display: none;
}

.quiz-app .questions {
  padding: 10px;
  text-align: left;
  margin-bottom: 1rem;
}

.quiz-app .questions h2 {
  margin-bottom: 0;
}

.quiz-app .answers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quiz-app .answers .answer {
  width: 48%;
  background-color: coral;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  position: relative;
}

.quiz-app .answers .answer.disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;
}

.quiz-app .answers .answer span.correct {
  position: absolute;
  background-color: green;
  color: #fff;
  padding: 5px;
  top: -20px;
  left: 0;
}

.quiz-app .answers .answer span.incorrect {
  position: absolute;
  background-color: red;
  color: #fff;
  padding: 5px;
  top: -20px;
  left: 0;
}

.quiz-app .answers .answer.selected-answer {
  background-color: green;
}

.all-done {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 1rem;
  display: none;
}

.all-done  {
  margin-top: 15px;
}

.all-done input,
.all-done button {
  height: 35px;
  width: 100%;
  border: green 0px solid;
  margin-top: 10px;
}

.final-result {
  background-color: #ffffff;
  padding: 10px;
  display: none;
}

.final-result p {
  margin-bottom: 15px;
}

.final-result button {
  background-color: red;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  width: 50%;
}

.high-scores {
  padding: 10px;
  background-color: #f5f5f5;
  display: none;
}

.high-scores span {
  display: block;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

#go-back{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:35px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  display: none;
  margin: 10px auto;
  border-radius: 15px;
  width: 100%;

}
#go-back:hover{
  background:#fff;
  color:#1AAB8A;
}
#go-back:before,#go-back:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#go-back:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#go-back:hover:before,#go-back:hover:after{
  width:100%;
  transition:800ms ease all;
}

.score{
  margin-bottom:10px
}
